{{#each this}}
   <div class='col-xs-4 row-centered movie'>
       <a href='#'>
           <div class='thumbnail'>
               <img src='{{Poster}}' alt='{{Title}}'>
               <div class='caption'>
                   <h3 id="movieName">{{Title}}</h3>
                   <p id="movieYear">{{Year}}</p>
                   <p id="MovieActors">{{Actors}}</p>
                   <form class="form-inline">
                    <div class="form-group">
                      <label for="Rating">Rating: </label><input  type='hidden' class='myRating' data-start="0" data-stop="10" value={{rating}}>
                      {{!-- <input type="number" class="form-control" id="rating-input" placeholder="" min="1" max="10" step="1"> --}}
                      {{!-- <select class="rating select">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11 - This goes to eleven.</option>
                      </select> --}}
                    </div>
                    {{!-- <button type="button" class="btn btn-default submit-rating">Submit Rating</button> --}}
                  </form>
               </div>
               <button type="button" class="btn btn-default watched {{watched}}"></button>
               <button type="button" class="btn btn-default delete">Delete This Movie</button>
           </div>
       </a>
   </div>
{{/each}}